<!--[if IE]>
	<style type="text/css">
		.login-box { margin: 60px 35px; }
	</style>
<![endif]-->

#login-box{:style => 'display:none'}
	/ The in-login-box class is used by the JS observer function to determine 
	/ if click is outside Login box
	.in-login-box
		= form_for @user || User.new, :url => secure_login_url, :html => { :id => 'loginBoxForm', :class => "in-login-box"} do |f|
			= hidden_field_tag 'return_url', url_for
			= hidden_field_tag{ :name => 'login-box' :value => '1'}
			.in-login-box
				%li.in-login-box= label_tag :login, 'Email:', :class => 'in-login-box'
				%li= text_field_tag 'login', nil, :class => 'in-login-box text'
				%br
				%li.in-login-box= label_tag :password, 'Password:', :class => 'in-login-box'
				%li= password_field_tag 'password', nil, :class => 'in-login-box text'
				%li.in-login-box
					%p.in-login-box= link_to 'Forgot your password?', { :controller => 'account', :action => :forgot_password }, :class => 'forgot'
			.in-login-box
				= submit_tag 'Login', :id => 'login_submit'
		.tl-cb
